
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: end;
}

.btn{
     background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
}

header p{
    color: #474747;
    line-height: 18px;
}

.btn1{
     background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600px;
    align-items: end;
}

.btn{
   

}

.text-banner{
    max-width: 525px;
}

.text-banner h1{
    font-size: 65px;
    font-weight: bold;
}

.failures-container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 130px auto;
    border: 2px solid black;
}

.failures-container img{
    /* background-color: pink;
    border: 50%; */
}

.my-plan{
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid navy;
   text-align: center;
    
}

.icon{
    display: flex;
   
}

.positive{
    background-image: url('../images/watch.png') , url('../images/gradient3.png');
    /* background-position:100% ,left right ; */
    border: 2px solid navy;
    max-width: 1140px;
    margin: 130px auto;
    height: 300px;
}

footer{
    background-color: #151414;
    margin: 0;
    height: 400px;
    color: #F8F8F8;

}

.footer-container{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.text-footer{
    width: 485px;
}

.icon-container{
    display: flex;
    justify-content: space-between;
}

.input-footer{
    width: 325px;
   margin:130px 229px 0 330px ;
    gap: 31px;
} 

.input-footer input{
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.input-footer button{
    background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
}