
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: end;
}

.btn{
     background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
}

header p{
    color: #474747;
    line-height: 18px;
}

.btn1{
     background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600px;
    align-items: end;
}

.text-banner{
    max-width: 525px;
    text-align: right;
    padding-right: 100px;
    padding-top: 100px;
}

.text-banner h1{
    font-size: 65px;
    font-weight: bold;
}

.failures-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1140px;
    margin: 130px auto;
}
.text h2{
    font-size: 50px;
}

.text p , ul{
    color: gray;
}

.text li{
   padding-top:10px;
}

.my-plan{
    max-width: 1140px;
    margin: 0 auto;
   text-align: center;
    
}

.icon{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.code h2{
    font-weight:bold ;
}

.code p{
    color: gray;
    font-weight: 20px;
}

.positive{
    background-image: url('../images/watch.png');
    /* background-position:100% ,left right ; */
    max-width: 1140px;
    margin: 130px auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    background-repeat: no-repeat;
}

.positive h2{
    font-size: 50px;
    color: white;
}

.positive button{
    font-weight: bolder;
}

footer{
    background-color: #151414;
    margin: 0;
    height: 400px;
    color: #F8F8F8;

}

.footer-container{
    max-width: 1140px;
    display: flex;
    justify-content: space-;
    margin: 0 auto;
}

.text-footer{
    width: 485px;
}

.icon-container{
    display: flex;
    gap: 10px;
}

.input-footer{
    width: 325px;
   margin:130px 229px 0 330px ;
    gap: 31px;
} 

.input-footer input{
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.input-footer button{
    background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
}